

{% load static %}
<html>
<head>
<title>Tom Soppitt's CV</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
    
        <a href="/" class="top-menu"><span>Tom's Blog</span></a>
    <h1><a href="/cv">Tom Soppitt's CV</a></h1>
    </div>
    <div class="content container">
    <div class="row">
    <div class="col-md-8">
    {% block content %}
    {% endblock %}
    </div>
    </div>
    </div>
    
    </body>

<body>
        <h1>Tom Soppitt</h1>
        <p text-align: right;>
           07523345350
        </p>
        <p id="bio_right">
            32 Salisbury Road<br />
            Bristol,BS37AT
        </p>
       
       

        <h3><a href="{% url 'skill_new' %}">Skills</a></h3>
        {% for skill in skills %}
        

<h4>{{ skill.skill }}</h4>

<p>{{ skill.detail }}</p>

{% endfor %}

<h3><a href="{% url 'experience_new' %}">Experience</a></h3>
{% for experience in experience %}
        

<h4>{{ experience.experience }}</h4>

<p>{{ experience.detail }}</p>

{% endfor %}
       
<h3><a href="{% url 'responsibility_new' %}">Positions of Responsibility</a></h3>
{% for responsibility in responsibilities %}
        

<h4>{{ responsibility.responsibility }}</h4>

<p>{{ responsibility.detail }}</p>

{% endfor %}
<h3><a href="{% url 'hobby_new' %}">Hobbies and Interests</a></h3>
       
{% for hobby in hobbies %}
        

<h4>{{ hobby.hobby }}</h4>

<p>{{ hobby.detail }}</p>

{% endfor %}
<p style="text-align:center" colour=red>References available upon request</centre></p>
</body>
</html>