

{% load static %}
<html>
<head>
<title>Tom Soppitt's CV</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
    
        <a href="/" class="top-menu"><span>Tom's Blog</span></a>
    <h1><a href="/cv">Tom Soppitt's CV</a></h1>
    </div>
    <div class="content container">
    <div class="row">
    <div class="col-md-8">
    {% block content %}
    {% endblock %}
    </div>
    </div>
    </div>
    
    </body>

<body>
        <h1>Tom Soppitt</h1>
        <p>32 Salisbury Road
           Bristol, BS67AT</p>
           <p>07523945350
        </p>
        <h3><u>Education</u></h3>  
        <h4>MSci Mathematics and Computer Science at the University of Birmingham</h4>
         <p>Predicted 1st Class Degree</p>
        <h4>A Level</h4>
         <p>A*-Mathematics  |    A-Chemistry  |    A-Further Mathematics    |  B-Physics  |    A-Biology(AS Level)</p>
         <h4>GCSE</h4>
         <p>10 A*</p>

        <h3><a href="{% url 'skill_new' %}"><u>Skills</u></a></h3>
        {% for skill in skills %}
        

<h4>{{ skill.skill }}</h4>

<p>{{ skill.detail }}</p>

{% endfor %}

<h3><a href="{% url 'experience_new' %}"><u>Experience</u></a></h3>
{% for experience in experience %}
        

<h4>{{ experience.experience }}</h4>

<p>{{ experience.detail }}</p>

{% endfor %}
       
<h3><a href="{% url 'responsibility_new' %}"><u>Positions of Responsibility</u></a></h3>
{% for responsibility in responsibilities %}
        

<h4>{{ responsibility.responsibility }}</h4>

<p>{{ responsibility.detail }}</p>

{% endfor %}
<h3><a href="{% url 'hobby_new' %}"><u>Hobbies and Interests</u></a></h3>
       
{% for hobby in hobbies %}
        

<h4>{{ hobby.hobby }}</h4>

<p>{{ hobby.detail }}</p>

{% endfor %}
<p style="text-align:center" color="red">References available upon request</p>
</body>
</html>